# macOS files
.DS_Store

# Node.js files
node_modules

# Build output
/build
/.svelte-kit
/package

# .env files
.env
.env.*
!.env.example

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Build outputs
.vercel

# Jetbrains IDEs
.idea/